:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.node circle {
	fill: rgb(247, 106, 214);
	stroke: rgb(184, 37, 81);
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
	fill: black;
}

.node {
	cursor: pointer;
}

path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}





.red {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
	stroke-dasharray: 5;
}

.yellow{
	fill: none;
	stroke: yellow;
	stroke-width: 1.5px;
}

.grey{
	fill: none;
	stroke: grey;
	stroke-width: 1.5px;
}

.black{
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
}

.blue{
	fill: none;
	stroke: blue;
	stroke-width: 1.5px;
}

.green{
	fill: none;
	stroke: green;
	stroke-dasharray: 5;
	stroke-width: 1.5px;
}

.purple{
	fill: none;
	stroke: purple;
	stroke-width: 1.5px;
}
